/interpreter/JavaApplication5/nbproject/private/
/interpreter/Interpreter1/nbproject/private/
/interpreter/Interpreter1/build/
/interpreter/Interpreter1/dist/
/slides/
/interpreter/ia1-2/Interpreter1/nbproject/private/
/interpreter/ia1-2/Interpreter1/build/
/interpreter/ia1-2/Interpreter1/dist/